### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
__pycache__
*.pyc 

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Test Files
test.py